@{
	ViewData["Title"] = "Login";
	Layout = "_Layout";
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<!Doctype html>
<html>
<head>
	<title>Login V16</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="~/LoginIndexCss/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/LoginIndexCss/css/main.css">

	<div class="container-login100" style="background-image: url('/images/bg-01.jpg'); background-size:cover;padding:0;">

</head>
<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                    }
				<div class="wrap-login100 p-t-30 p-b-50" style="margin-left:8%">
				
				<form class="login100-form validate-form p-b-33 p-t-5" style="margin-top:35%" method="post" action="/Login/Login" autocomplete="off">
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="User name" id="username">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="password" placeholder="Password" id="password" required>
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>
					<div class="container-login100-form-btn m-t-32">
						<button type="submit" class="login100-form-btn">Login</button>
					
					</div>

				</form>
			</div>

		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="~/vendor/animsition/js/animsition.min.js"></script>
	<script src="~/vendor/bootstrap/js/popper.js"></script>
	<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/vendor/select2/select2.min.js"></script>
	<script src="~/vendor/daterangepicker/moment.min.js"></script>
	<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
	<script src="~/vendor/countdowntime/countdowntime.js"></script>
	<script src="~/LoginIndexJs/main.js"></script>
</body>
</html>